<!DOCTYPE html>
<html>
  <head>
    <title>CmmCodeDayDavid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://account.covermymeds.com/packs/application-b4e797993ec803327f3e374941371e42.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
